{% extends 'content_base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content_body %}

<section class="account">
	<div class="col-sm-12 bg-profile border rounded">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <div class="user-image">
                    {% if app.user.imageFilename %}
                    <img src="{{uploaded_asset(app.user.thumbImagePath)}}" class="img-responsive thumbnail" height="100" width="100">
                    {% else %}
                    <img src="{{asset('img/users/default.png')}}" class="img-responsive thumbnail" height="100" width="100">
                    {% endif %}
                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 text-green p-3 mb-3">
                <h3 class="d-inline-block">Welcome back, {{ app.user.firstName }}</h3>
             <!--   <a class="btn btn-labeled btn-info float-right d-inline-block" href="#">
                    <span class="btn-label"><i class="fa fa-pencil"></i></span>Update
                </a>-->
            </div>
        </div>
        <div class="row bg-primary">
            <div class="offset-md-3 col-md-3 text-center">
                <h3 class="text-uppercase">Workouts</h3>
                <h4><span class="counter-js">{{totalData['totalWorkouts']}}</span></h4>
                
            </div>
            <div class="col-md-3 text-center">
                <h3 class="text-uppercase">Time</h3>
                <h4><span class="counter-js">{{totalData['totalDuration']}}</span> sec</h4>
            </div>
            <div class="col-md-3 text-center">
                <h3 class="text-uppercase">Likes</h3>
                <h4>3,892</h4>
            </div>
        </div>
        <div class="row bg-white py-3">
            <div class="col-12 text-center">
                <span><h4>Last Workouts</h4></span>
            </div>
            {% for workout in workouts %}
            <div class="col-sm-6 py-2">
    			<div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="text-left">{{ workout.activity.name }}</h5>
                        {#<span class="text-right">{{ workout.durationSeconds | date('H:i:s') }}</span>#}
                    </div>
 					
  					<div class="card-body">
    					{#<h5 class="card-title">{{ workout.activity.name }}</h5>#}
                        <div class="card-text row">
                             <div class="workout-stat col-md-4">
                                <img src="https://via.placeholder.com/150">
                            </div>
                            <div class="workout-stat col-md-8">
                                <div class="col-12">
                                     <span class="fas fa-fire color-fire"></span>
                                    <span class="text-muted text-uppercase">Kcal</span>
                                    <span>{{workout.burnoutEnergy }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="far fa-clock color-clock"></span>
                                    <span class="text-muted text-uppercase">Duration</span>
                                    <span>{{ workout.durationSeconds | date('H:i:s') }}</span>
                                </div>
                            </div>
                           
                            

                           
                        </div>
    					
  					</div>
                    <div class="card-footer text-muted">
                        <span>{{ workout.startAt | date('Y-m-d H:i') }}</span>
                        <a href="#" class="btn btn-primary">Like</a>
                    </div>
				</div>
            </div>
            {% endfor %}
        </div>
	</div>
</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery.counterup@2.1.0/jquery.counterup.min.js"></script>


<script type="text/javascript">

    $(document).ready(function() {
        $('.counter-js').counterUp({
            delay: 10,
            time: 2000
        });        
    });


</script>
{% endblock %}

