{% extends 'base.html.twig' %}

{% form_theme registrationForm _self %}
{% block _user_registration_form_agreeTerms_row %}
    <div class="checkbox my-3">
        {{ form_errors(form) }}
        <label>
            <input type="checkbox" name="{{ full_name }}" required> Agree to terms
        </label>
    </div>
{% endblock %}

{% block title %}Register Page{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/_apiHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_uploadImageForm.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/_login.css') }}">
{% endblock %}
{% block content %}

<section class="register">
	<div class="container">
		
		<div class="row">
	      	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		        <div class="card card-signin my-5 shadow-box">

                    {{ include('forms/registration_form.html.twig', {
                        header_text: 'Create new Account',
                        button_text: 'Register'
                    }) }}
		          	<div class="card-footer text-center">
	      				<a href="#">Terms page</a>
	    			</div>
		        </div>
	      	</div>
	    </div>
    </div>
</section>
{% endblock %}