{% extends 'content_base.html.twig' %}

{% block title %}Add Activity{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/_login.css') }}">
{% endblock %}
{% block section_class %}addActivity{% endblock %} 
{% block content_class %}{% endblock %}
{% block content_body %}
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5 shadow-box">
        {{ include('forms/activity_form.html.twig', {
            header_text: 'Create new Activity',
            button_text: 'Create'
        }) }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script type="module" src="{{ asset('js/_apiHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_activityForm.js') }}"></script>
{% endblock %}
