{% block registration_form %}

                    <div class="card-body">
                        <h4 class="card-title text-center text-green text-uppercase">{{ header_text }}</h4>
                            
                            {{ form_start(registrationForm, {
                                'attr': {'class': 'form-signin'}
                            }) }}
                                {% if registrationForm.id is defined %}
                                    {{ form_row(registrationForm.id, {
                                        'label' : 'ID: '
                                    }) }}
                                {% endif %}

                                {{ form_row(registrationForm.email, {
                                    'label' : 'E-mail : ',
                                    attr: { placeholder: 'Email' }
                                }) }}

                                {%  if registrationForm.role is defined %}
                                    {{ form_row(registrationForm.role, {
                                        'label' : 'Role: '
                                    }) }}
                                {% endif %}

                                {{ form_row(registrationForm.imageFile, {
                                    'label' : 'Your image : ',
                                    attr: {
                                        'placeholder': 'Select an article image',
                                        'class': 'd-none'

                                    }
                                }) }}

                                {% if registrationForm.vars.data.imageFilename is defined and registrationForm.vars.data.imageFilename is not null %}
                                    <div id="uploaded_image">
                                        <p>Already uploaded:</p>
                                        <div class="imageForm-container position-relative">
                                            <img class="imageForm rounded" src="{{ uploaded_asset(registrationForm.vars.data.thumbImagePath) }}" alt="User image">
                                            <div class="image-toolbar">
                                                <a href="{{ uploaded_asset(registrationForm.vars.data.imagePath) }}" target="_blank">
                                                    <span class="fa fa-search-plus position-absolute link-show"></span>
                                                </a>
                                                <a href="{{ path('api_delete_user_image') }}" id="delete-image">
                                                    <span class="fa fa-trash position-absolute link-delete"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                {% endif %}
                            
                                {{ form_row(registrationForm.firstName, {
                                    'label' : 'First Name: ',
                                    attr: { placeholder: 'First Name' }
                                }) }}

                                {{ form_row(registrationForm.secondName, {
                                    'label' : 'Second Name: ',
                                    attr: { placeholder: 'Second Name' }
                                }) }}

                                {{ form_row(registrationForm.gender, {
                                    'label' : 'Gender: '
                                }) }}

                                {% if registrationForm.plainPassword is defined %}
                                    {{ form_row(registrationForm.plainPassword.first, {
                                       'label' : 'Password: ',
                                        attr: { placeholder: 'Password' }
                                    }) }}

                                    {{ form_row(registrationForm.plainPassword.second, {
                                       'label' : 'Repeat password: ',
                                        attr: { placeholder: 'Repeat password' }
                                    }) }}
                                {% endif %}
                                {% if registrationForm.agreeTerms is defined %}
                                    {{ form_row(registrationForm.agreeTerms) }}
                                {% endif %}
                                {%  if registrationForm.birthdate is defined %}
                                    {{ form_row(registrationForm.birthdate, {
                                        'label' : 'Birthdate: '
                                    }) }}

                                    {{ form_row(registrationForm.weight, {
                                        'label' : 'Weight: '
                                    }) }}

                                    {{ form_row(registrationForm.height, {
                                        'label' : 'Height: '
                                    }) }}

                                {% endif %}


                                {% if button_text == 'Register' %}
                                    <div class="form-group">
                                        <div class="g-recaptcha my-3" data-sitekey="{{ public_key }}"></div>
                                        {% if ReCaptchaError is defined %}
                                            <span class="invalid-feedback d-block">
                                                <span class="d-block">
                                                    <span class="form-error-icon badge badge-danger text-uppercase">Error</span> 
                                                    <span class="form-error-message">{{ ReCaptchaError }}</span>
                                                </span>
                                            </span>
                                        {% endif %}
                                    </div>
                                {% endif %}

                                <button class="btn btn-lg btn-green btn-block text-uppercase" type="submit">{{ button_text }}</button>
                            
                            {{ form_end(registrationForm) }}

                    </div>

{% endblock %}


