{% block registration_form %}
                
                    <div class="card-body">
                        <h4 class="card-title text-center text-green text-uppercase">{{ header_text }}</h4>
                            
                            {{ form_start(registrationForm, {
                                'attr': {'class': 'form-signin'}
                            }) }}
                                {% if registrationForm.id is defined %}
                                    {{ form_row(registrationForm.id, {
                                        'label' : 'ID: '
                                    }) }}
                                {% endif %}

                                {{ form_row(registrationForm.email, {
                                    'label' : 'E-mail : ',
                                    attr: { placeholder: 'Email' }
                                }) }}

                                {{ form_row(registrationForm.imageFile, {
                                    'label' : 'Your image : ',
                                    attr: {
                                        'placeholder': 'Select an article image',
                                        'class': 'd-none'

                                    }
                                }) }}

                                {% if registrationForm.vars.data.imageFilename %}
                                    <p>Already uploaded:</p>
                                    <a href="{{ uploaded_asset(registrationForm.vars.data.imagePath) }}" target="_blank">
                                        <img class="imageForm" src="{{ uploaded_asset(registrationForm.vars.data.imagePath) }}">
                                    </a>
                                {% endif %}
                            
                                {{ form_row(registrationForm.firstName, {
                                    'label' : 'First Name: ',
                                    attr: { placeholder: 'First Name' }
                                }) }}
                                {{ form_row(registrationForm.secondName, {
                                    'label' : 'Second Name: ',
                                    attr: { placeholder: 'Second Name' }
                                }) }}
                                {% if registrationForm.plainPassword is defined %}
                                    {{ form_row(registrationForm.plainPassword.first, {
                                       'label' : 'Password: ',
                                        attr: { placeholder: 'Password' }
                                    }) }}
                                    {{ form_row(registrationForm.plainPassword.second, {
                                       'label' : 'Repeat password: ',
                                        attr: { placeholder: 'Repeat password' }
                                    }) }}
                                {% endif %}
                                {% if registrationForm.agreeTerms is defined %}
                                    {{ form_row(registrationForm.agreeTerms) }}
                                {% endif %}

                                <button class="btn btn-lg btn-green btn-block text-uppercase" type="submit">{{ button_text }}</button>
                            
                            {{ form_end(registrationForm) }}

                    </div>

{% endblock %}


