{% block workout_form %}
<div class="card-header {{ header_bg }}">
    <h5 class="card-title text-center text-uppercase">{{ header_text }}</h4>
</div>
<div class="card-body">
{{ form_start(workoutForm,{
    'attr': { 'class': 'js-new-workout-form' }
    }) 
}}
    {{ form_row(workoutForm.activityName, {
        attr: {
            'class': 'form-control-lg'
        },
        'label' : 'Activity: '
    }) }}

    {{ form_row(workoutForm.durationSecondsTotal, {
        'label' : 'Duration: '
    }) }}
    
    {{ form_row(workoutForm.startAt, {
        'label' : label,
        'attr' : {
            'data-url': path('server_date_get')
        }
    }) }}
    
    <div id="buttons-panel-js" data-url="{{ save_url }}">
        <button type="submit" class="btn btn-block btn-primary mt-2" id="continue-js" data-url="{{ url }}">
            {{ button_text }}
        </button>
    </div>

{{ form_end(workoutForm) }}
</div>
{% endblock %}



