{% extends 'content_base.html.twig' %}

{% block title %}Challenges list{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content_class %}{{ parent() }} container-border-green p-2{% endblock %} 
{% block content_body %}
    <div class="col-sm-12">
	    <a href="{{ path('admin_challenge_add') }}" class="btn btn-primary float-right">
	        Create <span class="fa fa-plus-circle"></span>
	    </a>
	    <h2 class="text-green">All Challenges ({{ pagination.getTotalItemCount }})</h2>
        <div class="col-sm-4 mx-auto mb-2">
            {{ knp_pagination_filter(pagination, {}) }}
        </div>
	    <div class="table-responsive">
            <form action="{{ path('admin_challenge_delete_selected') }}" method="POST">
    		    <table class="table table-hover" id="list">
    		        <thead>
    		            <tr>
                            <th></th>
    		            	<th {% if pagination.isSorted('c.id') %} class="sorted" {% endif %}>
    		            		{{ knp_pagination_sortable(pagination, '#', 'c.id') }}
    		            	</th>
                            <th {% if pagination.isSorted('c.title') %} class="sorted" {% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Title', 'c.title') }}
                            </th>
                            <th {% if pagination.isSorted('c.activityType') %} class="sorted" {% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Activity Type', 'c.activityType') }}
                            </th>
    		            	<th {% if pagination.isSorted('c.activityName') %} class="sorted" {% endif %}>
    		            		{{ knp_pagination_sortable(pagination, 'Activity Name', 'c.activityName') }}
    		            	</th>
                            <th {% if pagination.isSorted('c.createdAt') %} class="sorted" {% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Created At', 'c.createdAt') }}
                            </th>
                            <th {% if pagination.isSorted('c.stopAt') %} class="sorted" {% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Active', 'c.stopAt') }}
                            </th>
                            <th></th>
    		            </tr>
    		        </thead>
    		        <tbody>
    		            {% for challenge in pagination %}
    		                <tr>
                                <td><input type="checkbox" name="deleteId[]" value="{{ challenge.id }}"></td>
    		                	<td>{{ challenge.id }}</td>
                                <td>{{ challenge.title | u.truncate(20, '...')}}</td>
    		                    <td>{{ challenge.activityType }}</td>
                                <td>{{ challenge.activityName }}</td>
                                <td>{{ challenge.createdAt | date('m/d/Y') }}</td>
                                <td>
                                    {% set isInProgress = false %}
                                    {% if date(challenge.startAt) < date() and date(challenge.stopAt) > date()%}
                                        {% set isInProgress = true %}
                                    {% endif %}

                                    {% if date(challenge.stopAt) > date() %}
                                        <span class="fa fa-check text-success"></span>
                                    {% else %}
                                        <span class="fa fa-times text-danger"></span>
                                    {% endif %}
                                </td>
                                <td class="links-table">
                                    {% if not isInProgress %}
                                        <div class="link-wrapper">
                                            <a href="{{ path('admin_challenge_edit', { id: challenge.id }) }}" title="Edit">
                                                <span class="fa fa-pencil-alt"></span>
                                            </a>
                                        </div>
                                        <div class="link-wrapper">
                                            <a href="{{ path('admin_challenge_delete', { id: challenge.id }) }}" class="delete-item" data-name="challenge" data-id="{{ challenge.id }}" title="Delete">
                                                <span class="fa fa-trash-alt"></span>
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="link-wrapper">
                                            <span class="text-danger fas fa-ban" data-toggle="tooltip" data-placement="top" title="This challenge is in progress now"></span>
                                        </div>
                                    {% endif %}
    		                    </td>              
    		                </tr>
    		            {% endfor %}
    		        </tbody>
    		    </table>
                <input type="hidden" name="token" value="{{ csrf_token('delete_multiple') }}"/>
                <button type="submit" class="btn btn-danger">Delete checked</button>
            </form>
		</div>
		<div class="navigation">

			{{ knp_pagination_render(pagination, null, {}, {
				'align': 'center'
			}) }}
			{% include 'per_page.html.twig' %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/_deleteItem.js') }}"></script>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}
