{% extends 'content_base.html.twig' %}

{% block title %}Workouts list{% endblock %}

{% block content_class %}{{ parent() }} container-border-green p-2{% endblock %} 
{% block content_body %}
    <div class="col-sm-12">
	    <a href="{{ path('admin_activity_add') }}" class="btn btn-primary pull-right">
	        Create <span class="fa fa-plus-circle"></span>
	    </a>
	    <h2 class="text-green">All Workouts ({{ pagination.getTotalItemCount }})</h2>
	    <div class="table-responsive">
		    <table class="table table-hover" id="list">
		        <thead>
		            <tr>
		            	<th>#</th>
		                <th>Name</th>
		                <th>User</th>
		                <th>Duration</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for workout in pagination %}
		                <tr>
		                	<td>{{ workout.id }}</td>
		                    <td>{{ workout.activity.name }}</td>
		                    <td>{{ workout.user.email }}</td>
		                    <td>0</td>

		                    <td>
		                        <a href="{{ path('admin_activity_edit', { id: workout.id }) }}">
		                            <span class="fa fa-pencil"></span>
		                        </a>
		                        <a href="">
		                           <span class="fa fa-trash workout" data-id="{{ workout.id }}"></span>
		                        </a>
		                    </td>
		                   
		                </tr>
		            {% endfor %}
		        </tbody>
		    </table>

		</div>
		<div class="navigation">

			{{ knp_pagination_render(pagination, null, {}, {
				'align': 'center'
			}) }}
			{% include 'per_page.html.twig' %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/_delete.js') }}"></script>
{% endblock %}