{% extends 'content_base.html.twig' %}

{% block title %}Workouts list{% endblock %}

{% block content_class %}{{ parent() }} container-border-green p-2{% endblock %} 
{% block content_body %}
    <div class="col-sm-12">
	    <a href="{{ path('admin_workout_add') }}" class="btn btn-primary float-right">
	        Create <span class="fa fa-plus-circle"></span>
	    </a>
	    <h2 class="text-green">All Workouts ({{ pagination.getTotalItemCount }})</h2>
        <div class="col-sm-4 mx-auto">
            {{ knp_pagination_filter(pagination, {}) }}
        </div>
	    <div class="table-responsive">
            <form action="{{ path('admin_workout_delete_selected') }}" method="POST">
    		    <table class="table table-hover" id="list">
    		        <thead>
    		            <tr>
                            <th></th>
    		            	<th {% if pagination.isSorted('w.id') %} class="sorted" {% endif %}>
    		            		{{ knp_pagination_sortable(pagination, '#', 'w.id') }}
    		            	</th>
    		                <th {% if pagination.isSorted('a.name') %} class="sorted" {% endif %}>
    		                	{{ knp_pagination_sortable(pagination, 'Activity', 'a.name') }}
    		            	</th>
    		                <th {% if pagination.isSorted('u.email') %} class="sorted" {% endif %}>
    		                	{{ knp_pagination_sortable(pagination, 'User', 'u.email') }}
    		                </th>
    		                <th {% if pagination.isSorted('w.durationSecondsTotal') %} class="sorted" {% endif %}>
    		                	{{ knp_pagination_sortable(pagination, 'Duration', 'w.durationSecondsTotal') }}
    		            	</th>
    		            	<th {% if pagination.isSorted('w.startAt') %} class="sorted" {% endif %}>
    		                	{{ knp_pagination_sortable(pagination, 'Date', 'w.startAt') }}
    		            	</th>
    		            </tr>
    		        </thead>
    		        <tbody>
    		            {% for workout in pagination %}
    		                <tr>
                                <td><input type="checkbox" name="deleteId[]" value="{{ workout.id }}"></td>
    		                	<td>{{ workout.id }}</td>
    		                    <td>{{ workout.activity.name }}</td>
    		                    <td>{{ workout.user.email }}</td>
    		                    <td>{{ workout.durationSecondsTotal | time }}</td>
                                {# | date('H:i:s', '+00:00 GMT') #}
    		                    <td>{{ workout.startAt | date('m/d/Y') }}</td>

                                <td class="links-table">
                                    <div class="link-wrapper">
                                        <a href="{{ path('admin_workout_edit', { id: workout.id }) }}" title="Edit">
                                            <span class="fa fa-pencil-alt"></span>
                                        </a>
                                    </div>
                                    <div class="link-wrapper">
                                        <a href="{{ path('admin_workout_delete', { id: workout.id }) }}" class="delete-item" data-name="workout" data-id="{{ workout.id }}" title="Delete">
                                            <span class="fa fa-trash-alt"></span>
                                        </a>
                                    </div>
    		                    </td> 
    		                </tr>
    		            {% endfor %}
    		        </tbody>
    		    </table>
                <input type="hidden" name="token" value="{{ csrf_token('delete_multiple') }}"/>
                <button type="submit" class="btn btn-danger">Delete checked</button>
            </form>

		</div>
		<div class="navigation">

			{{ knp_pagination_render(pagination, null, {}, {
				'align': 'center'
			}) }}
			{% include 'per_page.html.twig' %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/_deleteItem.js') }}"></script>
{% endblock %}