{% extends 'content_base.html.twig' %}

{% block title %}Add Curiosity{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/_login.css') }}">
{% endblock %}

{% block section_class %}addCuriosity{% endblock %} 
{% block content_class %}{% endblock %}
{% block content_body %}
    <div class="col-sm-7 mx-auto">
		<div class="card card-signin my-5 shadow-box">
            {{ include('forms/curiosity_form.html.twig', {
                header_text: 'Add Curiosity',
                button_text: 'Add'
            }) }}

		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/_apiHelper.js') }}"></script>
    <script type="module" src="{{ asset('js/_uploadImageForm.js') }}"></script>
    <script src="https://cdn.tiny.cloud/1/{{tinymce_api_key}}/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>

        <script type="text/javascript">
            tinymce.init({
                selector: '#curiosity_form_content',
                plugins: 'lists checklist table advtable autolink image link autolink anchor tinymcespellchecker linkchecker',
                menubar: false,
                toolbar: 'undo redo | bold italic underline strikethrough forecolor |  fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist checklist table | image link anchor',
                toolbar_mode: 'sliding',
                height : '500'
            });
        </script>
{% endblock %}