{% extends 'content_base.html.twig' %}

{% block title %}Friends requests{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/_login.css') }}">
{% endblock %}
{% block content_class %}{{ parent() }} container-border-blue bg-profile text-center p-2{% endblock %} 
{% block content_body %}
    <div class="col-sm-12">
        <h2 class="text-green d-inline-block">Pending requests</h2>
        <a href="{{ path('friend_list') }}" class="d-inline-block btn btn-primary float-right" data-toggle="tooltip" data-placement="top" title="Friends list">
            <span class="fas fa-user-friends"></span>
        </a>
        <a href="{{ path('friend_search') }}" class="d-inline-block btn btn-primary float-right mr-2" data-toggle="tooltip" data-placement="top" title="Search friends to invite">
            <span class="fas fa-user-plus"></span>
        </a>
    </div>
    {% if friendRequests is not empty%}
        {% for user in friendRequests %}
            <div class="col-sm-12 col-md-5 p-3 mx-auto my-2 link-card">
                <a href="#" class="stretched-link">
                    <div class="row">
                        <div class="col-2">
                            {% if user.imageFilename %}
                                <img class="img-fluid thumbnail" src="{{ uploaded_asset(user.thumbImagePath) }}">
                            {% else %}
                                <img class="img-fluid thumbnail" src="{{ asset('img/users/default.png') }}">
                            {% endif %}   
                        </div>
                        <div class="col-10 align-self-center">
                            <h5 class="text-green">
                                {{ user.fullName }}
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    
    {% else %}
        <div class="col-11 p-3 mx-auto my-2 link-card">
            <span class="text-center">
                <h5 class="text-green">Actually You don't have any pending requests from friends</h5>
            </span>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}