{% extends 'base.html.twig' %}

{% block title %}Add Workout{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="{{ asset('css/_login.css') }}">
{% endblock %}
{% block content %}

<section class="addWorkout">
	<div class="container">
		<div class="row">
	      	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		        <div class="card card-signin my-5 shadow-box">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#average_data_form">Average data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#specific_data_form">Specific data</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="average_data_form" class="tab-pane fade active show">
                            {{ include('forms/workout_form.html.twig', {
                                header_text: 'Add new Workout',
                                button_text: 'Add'
                            }) }}
                        </div>
                        <div id="specific_data_form" class="tab-pane fade">
                            {{ include('forms/workout_specific_data_form.html.twig', {
                                header_text: 'Add new Workout',
                                button_text: 'Add'
                            }) }}
                        </div>
                    </div>
		        </div>
	      	</div>
	    </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
    $(document).ready(function() {
        
        $('.js-datepicker').datetimepicker({
            format:'Y-m-d H:i'
        });
    });
    </script>
{% endblock %}
