{% extends 'content_base.html.twig' %}

{% block title %}Workouts history{% endblock %}
{% block content_class %}{{ parent() }} p-2{% endblock %} 
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/_login.css') }}">
{% endblock %}
{% block content_body %}
    <div class="col-sm-12">
	    <a href="{{ path('admin_workout_add') }}" class="btn btn-primary pull-right">
	        Create <span class="fa fa-plus-circle"></span>
	    </a>
	    <h2 class="text-green">All Workouts</h2>
	    <div class="table-responsive js-workout-table">
		    <table class="table table-hover" id="list">
		        <thead>
		            <tr>
		            	<th>#</th>
		                <th>Activity</th>
		                <th>Duration</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for workout in workouts %}
		                <tr>
		                	<td>{{ workout.id }}</td>
		                    <td>{{ workout.activity.name }}</td>
		                    <td>{{ workout.duration | date('H:i:s') }}</td>

		                    <td>
		                       <!--

									TO DO:

									- predkosc itp uzaleznione od aktywnosci
									-artykuly
								

									




									-moze lokalizacja w przyszlosci
									
									
									notnull throw exeption before
									done - ew. dorobić catchpa i ilość logowań 
									-wiek,waga plec, wzrost do usera  
									- nadawanie uprawnien moderatora uzytkownikom
									- przerobić workout api js na jeden obiekt 
									- przerobić to na timestamp
									-kalendarz
									-wykresy
									- sprawdzenie uprawnień dla każdej strony

		                       {# <a href="{{ path('admin_workout_edit', { id: workout.id }) }}">
		                            <span class="fa fa-pencil"></span>
		                        </a>-->#}
		                       <!-- <button type="button" class="js-delete-workout"> przerobić potem a href na to -->
		                       	<a href="#" class="js-delete-workout">
		                           <span class="fa fa-trash" data-id="{{ workout.id }}"></span>
		                          <!-- Delete -->
		                        </a>
		                    </td>
		                   
		                </tr>
		            {% endfor %}
		        </tbody>
		    </table>

		</div>
	</div>
	<div class="col-sm-12 col-md-6">
		<div class="card card-signin">
		{{ include('forms/workout_form.html.twig', {
            header_text: 'Add workout',
            button_text: 'Add'
        }) }}
        </div>
	</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	$(document).ready(function(){
		var $table = $('.js-workout-table');// $table ($ bo jquery object)

		$table.find('.js-delete-workout').on('click', function (e) 
		{
            console.log('todo delete!');
            e.preventDefault();
            e.stopPropagation();
            $(this/*e.target*/).addClass('text-danger');
            //console.log(e.target);
            console.log(e.currentTarget);// current taget to this
             $(this).find('.fa')
                    .removeClass('fa-trash')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
            //console.dir(e.target);
            //e.target.className = e.target.className+' text-danger';
            /*console.log(
                    e.target,
                    $(e.target)[0] === e.target
                );*/

            
        });
            
        $table.find('tbody tr').on('click', function() 
        {
            console.log('row clicked!');
        });

		

	});
	
</script>
{% endblock %}