{% extends 'content_base.html.twig' %}

{% block title %}Workouts history{% endblock %}
{% block content_class %}{{ parent() }} p-2{% endblock %} 
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="{{ asset('css/_login.css') }}">
{% endblock %}
{% block content_body %}
    <div class="col-sm-12">
	    <a href="{{ path('workout_add_average') }}" class="btn btn-primary float-right">
	        Create <span class="fa fa-plus-circle"></span>
	    </a>
	   	<h2 class="text-green">All Workouts</h2>
	    <div class="table-responsive js-workout-table">
		    <table class="table table-hover">
		        <thead>
		            <tr>
		            	<th>#</th>
		                <th>Activity</th>
		                <th>Duration</th>
                        <th>Burnout</th>
                        <th>Date</th>
		                <th>&nbsp;</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for workout in workouts %}
		                <tr>
		                	<td>{{ workout.id }}</td>
		                    <td data-id="{{ workout.activity.id }}">{{ workout.activity.name }}</td>
		                    <td class="js-duration">{{ workout.durationSecondsTotal | time }}</td>
                            <td class="js-energy">{{ workout.burnoutEnergyTotal }}</td>
                            <td>{{ workout.startAt | date('Y-m-d H:i') }}</td>

		                    <td class="links-table">
		                       	<div class="link-wrapper">
                                    <a href="#" class="js-delete-workout delete-item" data-url="{{ path('workout_delete', {id: workout.id}) }}" data-id="{{workout.id}}">
                                        <span class="fa fa-trash-alt"></span>
                                    </a>
                                </div>
                                <div class="link-wrapper">
                                    <a href="#" class="js-edit-workout" data-url="{{ path('workout_edit', {id: workout.id}) }}">
                                        <span class="fa fa-pencil-alt"></span>
                                    </a>
                                </div>
		                    </td>
		                   
		                </tr>
		            {% endfor %}
		        </tbody>
		        <tfoot>
		        	<tr>
		        		<th>Total</th>
		        		<th class="js-total-workouts">{{ workouts|length }}</th>
		        		<td class="js-total-duration">&nbsp;</td>
		        		<td class="js-total-energy">&nbsp;</td>
		        	</tr>
		        </tfoot>
		    </table>

		</div>
	</div>
	<div class="col-sm-12 col-md-6 js-workout-table">
		<div class="card card-signin js-new-workout-form-wrapper">
		{{ include('forms/workout_average_data_form.html.twig', {
            header_text: 'Add workout',
            button_text: 'Add'
        }) }}

        </div>
	</div>
	<div class="col-sm-12 col-md-6 js-workout-now" data-url="{{ path('workout_add') }} ">
		<div class="card card-signin">
			<div class="card-body js-workout-now-div">



            </div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>


<script src="{{ asset('js/_workoutApi.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {

        var $wrapper = $('.js-workout-table');
        var $nowWorkoutWrapper = $('.js-workout-now');
        var workoutApi = new WorkoutApi($wrapper, $nowWorkoutWrapper);

        
        $('.js-datepicker').datetimepicker({
            format:'Y-m-d H:i'
        });
    });
</script>
<script type="text/template" id="js-workout-row-template">
        <tr>
            <td><%= id %></td>
            <td data-id="<%= activity.id %>"><%= activity.name %></td>
            <td class="js-duration"><%= time %></td>
            <td class="js-energy"><%= burnoutEnergyTotal %></td>
            <td><%= startDate %></td>
            <td class="links-table">
                <div class="link-wrapper">
                    <a href="#"
                        class="js-delete-workout delete-item"
                        data-url="<%= links.delete %>"
                        data-id="<%= id %>"
                    >
                        <span class="fa fa-trash-alt"></span>
                    </a>
                </div>
                <div class="link-wrapper">
                    <a href="#"
                        class="js-edit-workout"
                        data-url="<%= links.edit %>"
                    >
                        <span class="fa fa-pencil-alt"></span>
                    </a>
                </div>
            </td>
        </tr>
</script>
{% endblock %}