{% extends 'content_base.html.twig' %}

{% block title %}Workouts history{% endblock %}
{% block content_class %}{{ parent() }} p-2{% endblock %} 
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/_login.css') }}">
{% endblock %}
{% block content_body %}
    <div class="col-sm-12">
	    <a href="{{ path('workout_add_n') }}" class="btn btn-primary pull-right">
	        Create <span class="fa fa-plus-circle"></span>
	    </a>
	   	<h2 class="text-green">All Workouts</h2>
	    <div class="table-responsive js-workout-table">
		    <table class="table table-hover">
		        <thead>
		            <tr>
		            	<th>#</th>
		                <th>Activity</th>
		                <th>Duration</th>
                        <th>Burnout</th>
		                <th>&nbsp;</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for workout in workouts %}
		                <tr>
		                	<td>{{ workout.id }}</td>
		                    <td data-id="{{ workout.activity.id }}">{{ workout.activity.name }}</td>
		                    <td class="js-duration">{{ workout.duration | date('H:i') }}</td>
                            <td class="js-energy">{{ workout.burnoutEnergy }}

		                    <td>
		                       	<a href="#" class="js-delete-workout" data-url="{{ path('workout_delete', {id: workout.id}) }}" data-id="{{workout.id}}">
		                           <span class="fa fa-trash"></span>
		                        </a>
                                <a href="#" class="js-edit-workout" data-url="{{ path('workout_edit', {id: workout.id}) }}">
                                   <span class="fa fa-pencil"></span>
                                </a>
		                    </td>
		                   
		                </tr>
		            {% endfor %}
		        </tbody>
		        <tfoot>
		        	<tr>
		        		<th>Total</th>
		        		<th class="js-total-workouts">{{ workouts|length }}</th>
		        		<td class="js-total-duration">&nbsp;</td>
		        		<td class="js-total-energy">&nbsp;</td>
		        	</tr>
		        </tfoot>
		    </table>

		</div>
	</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}